<mat-card>
  <mat-card-title>
    Sprayers
    <mat-card-subtitle>
      Select sprayer to edit, or create a new one below
    </mat-card-subtitle>
    <hr>
  </mat-card-title>
  <div>
    <mat-card-content>
      <table mat-table [dataSource]="sprayers" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let entity">{{entity.name}}</td>
        </ng-container>
        <ng-container matColumnDef="ratemin">
          <th mat-header-cell *matHeaderCellDef>Minimum Rate (L/Ha)</th>
          <td mat-cell *matCellDef="let entity">{{entity.rateMin}}</td>
        </ng-container>
        <ng-container matColumnDef="ratemax">
          <th mat-header-cell *matHeaderCellDef>Maximum Rate (L/Ha)</th>
          <td mat-cell *matCellDef="let entity">{{entity.rateMax}}</td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let entity">
            <button mat-stroked-button (click)="delete(entity.id)"><i class="material-icons">delete</i></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="currentSprayer == element ? 'expanded' : 'collapsed'">

              <form #frm="ngForm" (ngSubmit)="update(element)">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input name="name"  matInput required [(ngModel)]="element.name">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Rate Min (L/Ha)</mat-label>
                  <input name="ratemin" matInput type="number" min="0" required [(ngModel)]="element.rateMin">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Rate Max (L/Ha)</mat-label>
                  <input name="ratemax" matInput type="number" min="0" required [(ngModel)]="element.rateMax">
                </mat-form-field>
                <br>

                <button mat-raised-button type="submit">Save</button>
                <br>
                <hr>
              </form>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumns;"
            class="example-element-row"
            [class.example-expanded-row]="currentSprayer === element"
            (click)="currentSprayer = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </mat-card-content>
  </div>
  <br>
  <div>
      <mat-grid-list cols="3" rowHeight="70px" gutterSize="5px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input name="name" matInput required [(ngModel)]="newSprayer.name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Rate Min (L/Ha)</mat-label>
            <input name="rateminNew" matInput type="number" min="0" required [(ngModel)]="newSprayer.rateMin">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Rate Max (L/Ha)</mat-label>
            <input name="ratemaxNew" matInput type="number" min="0" required [(ngModel)]="newSprayer.rateMax">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <br>
      <hr>
      <button mat-raised-button type="button" (click)="add(newSprayer)">Add</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </div>
</mat-card>
